<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="utf-8">
  <title>ุณุงูุงูู ุฑุฒุฑู ุบุฐุง ุฏุงูุดุฌู</title>
  <link rel="stylesheet" href="/style/bootstrap.rtl.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container d-flex min-vw-100 gap-2 p-0 m-0 min-vh-100 overflow-hidden">
    <aside class="d-flex flex-column col-3 p-5 ps-0 justify-content-center">
      <div class="rounded-end-4 p-5 shadow" id="rtlMenu">
        <h2 class="text-center mb-5 text-white">๐ ุฏุงุดุจูุฑุฏ</h2>
        <ul class="text-center p-0 m-0" id="menu">
          <li class="rounded-2 mb-4" id="food-reservation">๐ฝ๏ธ ุฑุฒุฑู ุบุฐุง</li>
          <li class="rounded-2 mb-4" id="requests">๐ ุฏุฑุฎูุงุณุชโูุง</li>
          <li class="rounded-2 mb-4" id="semester-courses">๐ ุฏุฑูุณ ููุณุงู</li>
          <li class="rounded-2 mb-4" id="payments">๐ฐ ูพุฑุฏุงุฎุชโูุง ู ุงููุฑูุงู</li>
          <li class="rounded-2 mb-4" id="messages">๐จ ูพุงูโูุง ู ุงุทูุงุนูโูุง</li>
          <li class="rounded-2 mb-4" id="profile" class="active">๐ค ูพุฑููุงู ุดุฎุต</li>
          <li class="rounded-2 mb-4" id="logout">๐ช ุฎุฑูุฌ ุงุฒ ุงฺฉุงูุช</li>
        </ul>
      </div>
    </aside>

<main class="bg-light text-white rounded-4 col-9 p-0 my-5 shadow-lg" id="mainContent">
    <div class="m-5">