<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="utf-8">
  <title>ุณุงูุงูู ุฑุฒุฑู ุบุฐุง ุฏุงูุดุฌู</title>
  <link rel="stylesheet" href="/style/bootstrap.rtl.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container d-flex min-vw-100 p-0 m-0 min-vh-100 overflow-hidden justify-content-between">
    <aside class="d-flex flex-column col-3 p-5 ps-0 justify-content-center">
      <div class="rounded-end-4 p-5 shadow h-100 align-content-center" id="rtlMenu">
        <h2 class="text-center mb-5 text-white">๐ ุฏุงุดุจูุฑุฏ</h2>
        <ul class="text-center p-0 m-0" id="menu">
          <li class="rounded-2 mb-4"><a class="nav-link p-2" href="/food-reservation">๐ฝ๏ธ ุฑุฒุฑู ุบุฐุง</a></li>
          <li class="rounded-2 mb-4"><a class="nav-link p-2" href="/requests">๐ ุฏุฑุฎูุงุณุชโูุง</a></li>
          <li class="rounded-2 mb-4"><a class="nav-link p-2" href="/semester-courses">๐ ุฏุฑูุณ ููุณุงู</a></li>
          <li class="rounded-2 mb-4"><a class="nav-link p-2" href="/payments">๐ฐ ูพุฑุฏุงุฎุชโูุง ู ุงููุฑูุงู</a></li>
          <li class="rounded-2 mb-4"><a class="nav-link p-2" href="/messages">๐จ ูพุงูโูุง ู ุงุทูุงุนูโูุง</a></li>
          <li class="rounded-2 mb-4"><a class="nav-link p-2" href="/profile">๐ค ูพุฑููุงู ุดุฎุต</a></li>
          <li class="rounded-2 mb-4" id="logout">
            <form action="/user/logout" method="POST">
              <button type="submit" class="menu-btn w-100 border-0 p-2 rounded-2">๐ช ุฎุฑูุฌ ุงุฒ ุงฺฉุงูุช</button>
            </form>
          </li>
        </ul>
      </div>
    </aside>

    <main class="container-fluid bg-light text-white rounded-start-4 col-9 mx-0 p-5 my-5 shadow-lg" id="mainContent">