<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="utf-8">
  <title>سامانه رزرو غذای دانشجویی</title>
  <link rel="stylesheet" href="/style/bootstrap.rtl.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
  
<body>