<%- include('partials/appHeader'); -%>

<div class="flex-column h-100">
  <h1 class="display-6 display-md-5 bold mb-4">
    <a class="text-decoration-none text-dark">๐ ูพุดุฎูุงู</a>
  </h1>

  <div class="row g-3">
    <div class="col-12">
      <div class="card p-4 text-center">
        <h4 class="m-0"><%= user.firstname + " " + user.lastname %> ุฎูุด ุขูุฏุฏ! </h4>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card p-5 card-food text-center dashboardBox">
        <h5 class="m-0">
          <a href="/food-reservation" class="stretched-link text-decoration-none">๐ฝ๏ธ ุฑุฒุฑู ุบุฐุง</a>
        </h5>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card p-5 card-tickets text-center dashboardBox">
        <h5 class="m-0">
          <a href="/tickets" class="stretched-link text-decoration-none">๐ ุฏุฑุฎูุงุณุชโูุง</a>
        </h5>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card p-5 card-courses text-center dashboardBox">
        <h5 class="m-0">
          <a href="/semester-courses" class="stretched-link text-decoration-none">๐ ุฏุฑูุณ ููุณุงู</a>
        </h5>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card p-5 card-payments text-center dashboardBox">
        <h5 class="m-0">
          <a href="/payments" class="stretched-link text-decoration-none">๐ฐ ูพุฑุฏุงุฎุชโูุง ู ุงููุฑูุงู</a>
        </h5>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card p-5 card-messages text-center dashboardBox">
        <h5 class="m-0">
          <a href="/messages" class="stretched-link text-decoration-none">๐จ ูพุงูโูุง ู ุงุทูุงุนูโูุง</a>
        </h5>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card p-5 card-profile text-center dashboardBox">
        <h5 class="m-0">
          <a href="/profile" class="stretched-link text-decoration-none">๐ค ุญุณุงุจ ฺฉุงุฑุจุฑ</a>
        </h5>
      </div>
    </div>
  </div>
</div>


  <%- include('partials/appFooter'); -%>